/* tailwind tailwind.config.js에서 정의한 요소를 CSS에 적용하기 위한 부분 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 카드 마우스 오버 커지는 확대효과 */
.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

/* ToastUi.editor의 기본폰트사이즈 변경 */
.toastui-editor-contents,
.ProseMirror {
    font-size: 1rem !important;
}
/* 게시물과 에디터의 이미지 사이즈 */
#viewer img {
    width: 100%;
    max-width: 600px;
}

/* H태그 글자간수정 */
.toastui-editor-contents h1 {
    line-height: 34px !important;
}

.toastui-editor-contents h2 {
    line-height: 29px !important;
}

.toastui-editor-contents h3 {
    margin: 22px 0 12px !important;
    line-height: 24px !important;
}

.toastui-editor-contents h4 {
    margin: 18px 0 6px !important;
    line-height: 24px !important;
}

.toastui-editor-contents h5 {
    margin: 15px 0 5px !important;
    line-height: 22px !important;
}

.toastui-editor-contents h6 {
    margin: 15px 0 5px !important;
    line-height: 22px !important;
    font-size: 14px !important;
}

.toastui-editor-contents p {
    margin: 0 !important;
}
